<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209775750653-f2dvvc0cs024rcca06ldn0d0in3ipub1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209775750653-f2dvvc0cs024rcca06ldn0d0in3ipub1</string>
	<key>API_KEY</key>
	<string>AIzaSyCwP2gRfPdVLXvjJNifrkMzORqzT1RRZ9M</string>
	<key>GCM_SENDER_ID</key>
	<string>209775750653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.coz.neonwallet</string>
	<key>PROJECT_ID</key>
	<string>neon-wallet-2ec5d</string>
	<key>STORAGE_BUCKET</key>
	<string>neon-wallet-2ec5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209775750653:ios:fb9e0b32b1430051c17d94</string>
	<key>DATABASE_URL</key>
	<string>https://neon-wallet-2ec5d.firebaseio.com</string>
</dict>
</plist>